// Font
$primary-font: 'Roboto', sans-serif;

$primary-dark: #000;
$primary-light: #fff;

$text-dark-color: $primary-color;


// Main color
$default-color: #000;
$primary-color: #434343;
$success-color: #8D1190;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

$primary-gradient-color: linear-gradient(90deg, #BD11A4 17.73%, #481173 86.46%);

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #C0C4CC;

// Border Color
$border-base: #8D1190;
$border-light: #E4E7ED;
$border-lighter: #EBEEF5;
$border-lightex: #F2F6FC;
