// Font
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

// main colors
$color-dark: #000;
$color-light: #fff;
$color-mid: pink;

// text colors
$text-dark-color: $color-dark;
$text-light-color: $color-light;
$text-mid-color: $color-mid;

// gradient colors
$gradient-main: linear-gradient(90deg, #BD11A4 17.73%, #481173 86.46%);

// // Border Color

// $border-base: #8D1190;
// $border-light: #E4E7ED;
// $border-dark: #EBEEF5;
// $border-mid: #F2F6FC;


