<!-- <div class="header">
  <div class="container">
    <div class="logo">

    </div>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="">About</a></li>
        <li class="nav__item"><a class="nav__link" href="">Blog</a></li>
        <li class="nav__item"><a class="nav__link" href="">Shop</a></li>
        <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
      </ul>
    </nav>


  </div>
</div> -->